<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.4.1" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Charsets" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Core" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Security" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.SwingAWT" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Text" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Util" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.XML.API" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.Runtime" version="7.2.4630.5" targetFramework="net48" />
  <package id="JavaUtils.Net" version="1.0.5" targetFramework="net48" />
  <package id="Moq" version="4.17.2" targetFramework="net48" />
  <package id="NUnit3TestAdapter" version="4.2.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="commons-codec-1.10" version="1.0.0" targetFramework="net48" />
  <package id="xunit" version="2.4.2-pre.12" targetFramework="net48" />
  <package id="xunit.abstractions" version="2.0.3" targetFramework="net48" />
  <package id="xunit.analyzers" version="0.10.0" targetFramework="net48" />
  <package id="xunit.assert" version="2.4.2-pre.12" targetFramework="net48" />
  <package id="xunit.core" version="2.4.2-pre.12" targetFramework="net48" />
  <package id="xunit.extensibility.core" version="2.4.2-pre.12" targetFramework="net48" />
  <package id="xunit.extensibility.execution" version="2.4.2-pre.12" targetFramework="net48" />
</packages>